<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <SystemConfig>
    <add key="User Name" value="ADMIN" />
    <add key="Version" value="2.0.0.0" />
    <add key="Database" value="nssol" />
  </SystemConfig>
  <SystemData>
    <add key="Fiscal Year" value="2016" />
    <add key="Current Period" value="NOV" />
    <add key="Year Period" value="JAN" />
    <add key="Year Period To" value="DEC" />
    <add key="Previous Year Close" value="2015" />
    <add key="Status" value="O" />
    <add key="Petty Cash Currency" value="SGD" />
  </SystemData>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
